body, ul, a {
  margin: 0;
  padding: 0;
  text-decoration: none; }

p {
  font-family: "Roboto", sans-serif; }

ul {
  font-family: "Slabo 27px", serif; }

.header_container {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #a85a280f;
  height: 200px; }
  .header_container .logo_area {
    align-self: center; }
    .header_container .logo_area img {
      display: block;
      height: auto;
      width: 350px; }
  .header_container .main_menu {
    align-self: center; }
    .header_container .main_menu ul {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: center; }
      .header_container .main_menu ul li {
        padding: .8rem 1rem; }
        .header_container .main_menu ul li a {
          color: #a85a28;
          font-size: 1.3rem; }
        .header_container .main_menu ul li a:hover {
          color: #6fbf4a;
          border-bottom: 1px solid #6fbf4a; }

.main_container {
  padding: 1rem; }
  @media screen and (min-width: 900px) {
    .main_container {
      width: 1000px;
      margin: auto; } }

.headings {
  color: #523629;
  text-align: center;
  margin: .8rem;
  font-size: 2.7rem;
  font-weight: normal;
  font-family: "Satisfy", cursive; }

.order_online {
  background-color: #f1eaea82;
  padding: .5rem .8rem 1.2rem .8rem; }
  .order_online .order_online-type {
    display: grid;
    grid-gap: .4rem .4rem; }
    @media screen and (min-width: 450px) {
      .order_online .order_online-type {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 900px) {
      .order_online .order_online-type {
        width: 1000px;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr; } }
    .order_online .order_online-type section {
      background-color: White;
      text-align: center;
      border-radius: 3px;
      border: 0px;
      padding: 1rem 0; }
      .order_online .order_online-type section p {
        margin: 1.2rem 0 0 0;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 1rem; }
      .order_online .order_online-type section a {
        color: #523629; }
        .order_online .order_online-type section a .first {
          color: #6fbf4a; }
        .order_online .order_online-type section a .second {
          color: #ecaa20; }
        .order_online .order_online-type section a .third {
          color: #dc1e35; }

.timing table {
  margin: auto;
  text-align: left; }
  .timing table caption {
    font-family: "PT Serif", serisf;
    font-size: 1.4rem;
    color: #a85a28;
    margin-bottom: 1rem; }
  .timing table thead {
    background-color: #f1eaea82;
    text-align: center; }
  .timing table th, .timing table td {
    box-sizing: border-box;
    padding: .2rem; }
  .timing table th {
    font-family: "PT Serif", serisf; }
  .timing table td {
    font-family: "Roboto", sans-serif; }

.catering {
  background-color: #f1eaea82;
  margin: 1rem 0;
  padding: .4rem; }

.address img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: .4rem; }
.address .address_detail {
  font-size: 1.4rem;
  color: #a85a28; }
  .address .address_detail p {
    text-align: center;
    margin: 0;
    font-family: "PT Serif", serisf; }
    .address .address_detail p a {
      color: #a85a28; }
@media screen and (min-width: 450px) {
  .address {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2% 4%; }
    .address h1 {
      grid-column: 1/3; }
    .address .address_detail p {
      text-align: left; } }

* {
  box-sizing: border-box; }

.mySlides1, .mySlides2 {
  display: none; }

img {
  vertical-align: middle; }

.slider {
  margin-top: 200px; }

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto; }
  .slideshow-container img {
    width: 100%;
    height: 320px; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black; }

.food_menu {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto; }
  @media screen and (min-width: 450px) {
    .food_menu {
      grid-template-columns: 50% 50%; }
      .food_menu .headings {
        grid-column: 1/3; } }
  .food_menu section {
    margin: 0 1.2rem; }

.food_items-title {
  font-family: "Roboto", sans-serif;
  color: #a85a28;
  font-size: 1.5rem;
  display: block;
  border-bottom: 2px solid #a85a28;
  margin-bottom: 1rem; }

.food_items .single_dish {
  margin: 1rem 0; }
.food_items .lunch {
  margin-top: 0;
  font-style: italic;
  font-family: "Roboto", sans-serif; }
.food_items .title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
.food_items .description {
  margin: 0; }

.impotant_info {
  text-align: center;
  margin: 2rem 6rem;
  font-size: 1rem; }

.divider {
  width: 200px;
  color: #523629; }

.food-gallery {
  display: grid;
  grid-gap: 10px 10px; }
  @media screen and (min-width: 450px) {
    .food-gallery {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 900px) {
    .food-gallery {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  .food-gallery .container {
    position: relative;
    border-radius: 2px; }
    .food-gallery .container img {
      width: 100%;
      display: block;
      height: auto; }
    .food-gallery .container .name {
      position: absolute;
      height: 40%;
      bottom: 0;
      padding: 2% 1%;
      width: 100%;
      opacity: 1;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-content: center;
      background-color: #52362969; }
      .food-gallery .container .name .text {
        color: white;
        font-size: 1.4rem;
        font-family: "Satisfy", cursive;
        text-align: center; }

.team_member {
  background-color: #f1eaea82;
  padding: .5rem .8rem 1.2rem .8rem; }
  .team_member .Chefs_introduction {
    padding: 1rem 0; }
    @media screen and (min-width: 450px) {
      .team_member .Chefs_introduction {
        display: grid;
        grid-template-columns: 38% 58%;
        grid-gap: 2% 4%; } }
    @media screen and (min-width: 900px) {
      .team_member .Chefs_introduction {
        width: 1000px;
        margin: auto; } }
    .team_member .Chefs_introduction img {
      display: block;
      width: 100%;
      border-radius: 3rem 5px 3rem 5px; }
    .team_member .Chefs_introduction .text h2, .team_member .Chefs_introduction .text h3 {
      margin: 0;
      font-family: "PT Serif", serisf;
      color: #a85a28;
      margin-bottom: .6rem; }
  @media screen and (min-width: 450px) {
    .team_member .Chefs_introduction:nth-of-type(even) {
      display: grid;
      grid-template-columns: 58% 38%;
      grid-gap: 2% 4%; }
      .team_member .Chefs_introduction:nth-of-type(even) img {
        order: 1; } }

.footer_container {
  background-color: #523629;
  width: 100%;
  color: white;
  padding: 1rem .7rem;
  box-sizing: border-box; }
  .footer_container .footer_content {
    align-self: center;
    justify-content: center; }
    .footer_container .footer_content hr {
      width: 150px;
      margin-bottom: 0; }
    .footer_container .footer_content p {
      text-align: center;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem; }
    .footer_container .footer_content ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      list-style: none; }
      .footer_container .footer_content ul li {
        font-size: 1.6rem;
        padding: .4rem; }
        .footer_container .footer_content ul li a {
          color: #fff; }
      .footer_container .footer_content ul a:hover {
        color: #6fbf4a; }
  .footer_container .footer_img {
    display: flex;
    justify-content: center; }
  .footer_container .copyright {
    margin-top: 1rem;
    text-align: center;
    color: #7e7a7894;
    font-family: "Roboto", sans-serif; }

/*# sourceMappingURL=style.css.map */
