// @mixin fontFace($name,$src,$weight) {
//   font-family: $name;
//   src:url('#{$src}.otf');
//   font-weight: $weight;
// }

// @include fontFace('myFont','../fonts/FaithAndGloryTwo','normal');

body, ul, a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@import 'variable/variable';
//header area css starts
p{
  font-family: $secondary_font;
}
ul{
  font-family: $secondary2_font;
}




@import 'main/main';
@import 'slider/slider';
@import 'menu/menu';
@import 'gallery/gallery';
@import 'team/team';

.footer_container{
  background-color: $primary_color;
  width:100%;
  color:white;
padding:1rem .7rem;
box-sizing: border-box;

  .footer_content{
   align-self: center;
   justify-content: center;
      hr{
          width:150px;
          margin-bottom: 0;
      }
      p{
        text-align: center;
        margin:0;
        font-family: $secondary_font;
        font-size: 1.2rem;
      }
    ul{
      display: flex;
      flex-flow: row wrap;
      justify-content:center;
      align-content: center;
      list-style: none;
      li{
        font-size: 1.6rem;
        padding:.4rem;
        a{
          color:#fff;
        }
      }
      a:hover{
        color:$hover_color;
      }
    }
  }
  .footer_img{
    display: flex;
    justify-content: center;
  }
  .copyright{
    margin-top: 1rem;
    text-align: center;
    color: #7e7a7894;
    font-family: $secondary_font;
  }
}
