

body, ul, a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@import 'variable/variable';
//header area css starts
p{
  font-family: $secondary_font;
}
ul{
  font-family: $secondary2_font;
}
.header_container{
  display: flex;
  flex-flow: column nowrap;
position: fixed;
background-color: white;
top:0;
width:100%;
z-index: 1;
border-bottom: 1px solid #a85a280f;
height: 200px;

  .logo_area {
    align-self: center;
     img{
        display: block;
        height: auto;
        width: 350px;
     }
   }
  .main_menu{
     align-self: center;
      ul{
          list-style: none;
          display:flex;
          flex-flow: row wrap;
          align-content: center;
justify-content: center;
          li {
            padding:.8rem 1rem;
            a{
              color:#a85a28;
              font-size: 1.3rem;

            }
            a:hover{
              color:$hover_color;
              border-bottom: 1px solid $hover_color;
            }

          }
      }
   }
}

//main container css
.main_container{
  padding: 1rem;
    @media screen and (min-width: $medium_size){
     width:1000px;
     margin: auto;
     }
}
.headings{
  color:#523629;
  text-align: center;
  font-size: 2.7rem;
  font-weight: normal;
  font-family: $primary_font;
}


@import 'slider/slider';
@import 'menu/menu';


.footer_container{
  background-color: $primary_color;
  width:100%;
  color:white;
padding:1rem .7rem;
box-sizing: border-box;

  .footer_content{
   align-self: center;
   justify-content: center;
      hr{
          width:150px;
          margin-bottom: 0;
      }
      p{
        text-align: center;
        margin:0;
        font-family: $secondary_font;
        font-size: 1.2rem;
      }
    ul{
      display: flex;
      flex-flow: row wrap;
      justify-content:center;
      align-content: center;
      list-style: none;
      li{
        font-size: 1.6rem;
        padding:.4rem;
        a{
          color:#fff;
        }
      }
      a:hover{
        color:$hover_color;
      }
    }
  }
  .footer_img{
    display: flex;
    justify-content: center;
  }
  .copyright{
    margin-top: 1rem;
    text-align: center;
    color: #7e7a7894;
    font-family: $secondary_font;
  }
}
