.team_member{
  background-color:#f1eaea82;
  padding: 1rem 2.4rem;
  .Chefs_introduction{
      padding:1rem 0;
      @media screen and (min-width: $small_size){
      display: grid;
      grid-template-columns:40% 52%;
      grid-gap:2% 4%;

    }
    @media screen and (min-width: $medium_size){
     width:1000px;
     margin: auto;
    }
      img{
        display: block;
        width: 100%;
        border-radius:3rem 5px 3rem 5px;
      }
      .text{
         h2,h3{
           margin: 0;
           font-family: $third_font;
           color:$secondary_color;
           margin-bottom:.6rem;
         }

      }
  }
        @media screen and (min-width: $small_size){
        .Chefs_introduction:nth-of-type(even){
          display: grid;
          grid-template-columns:52% 40%;
          grid-gap:2% 4%;
          img{
            order:1;
          }

        }
      }

}
