
.food-gallery{
     display: grid;
 grid-gap:10px 10px;
       @media screen and (min-width: $small_size){
        grid-template-columns: 1fr 1fr;
       }
    @media screen and (min-width: $medium_size){
     grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .container{
      position: relative;
      border-radius: 2px;
      img{
        width: 100%;
        display: block;
        height:auto;
      }
      .name{
      position: absolute;
      height: 40%;
      bottom: 0;
      padding: 2% 1%;
      width: 100%;
      opacity: 1;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-content: center;
      background-color: #52362969;


        .text{
         color:white;
         font-size:1.4rem;
         font-family: $primary_font;
         text-align: center;

        }
      }
    }
}
