$medium_size: 900px;
$small_size: 450px;

$primary_font:'Satisfy', cursive;
$secondary_font:'Roboto', sans-serif;
$third_font:'PT Serif', serisf;
$secondary2_font:'Slabo 27px', serif;

$primary_color:#523629;
$secondary_color:#a85a28;
$hover_color:#6fbf4a;
